body
{
    margin:0;
    padding:0;
    color:#333;
    font-family: Impact, Charcoal, sans-serif;
}
#gui,
canvas
{
    display:block;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:800px;
    text-align:center;
    vertical-align:top;
}
.stats
{
    font-size:20px;
    margin:20px;
}
.buttons
{
    margin-bottom:20px;
}
button
{
    z-index:1;
    display:inline-block;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 2px solid #CCC;
    cursor:pointer;
    transition: all 0.3s;
}
button:hover
{
    z-index:2;
    border-color:#AAA;
    color:rgb(201,136,0);
    transform:scale(2);
}