* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    color: #FFF;
    font-family: Arial, sans-serif;
    background: #333;
}

table {
    border: unset;
    border-spacing: 0;
}

.is--hidden {
    display: none;
}

#canvas {
    margin-bottom: 6%;
}

#gui,
canvas {
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    text-align: center;
    vertical-align: top;
}

h1 {
    font-family: Impact, Charcoal, sans-serif;
}