.stats {
    padding: 10px;
    font-size: 14px;
    font-family: Impact, Charcoal, sans-serif;
    position: absolute;
    left: 0;
    z-index: 10;
    background: rgba(0,0,0,.3);
    border-radius: var(--border-radius);

    ul {
        display: flex;
        list-style: none;
        gap: 20px;
        justify-content: center;
        margin: 0;
        padding: 0;

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            min-width: 60px;

        }
    }

    img {
        width: 20px;
        height: 20px;
    }
}
