.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: auto;
    background: #121010;
    display: none;
    -webkit-box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.7);
    padding: 15px;
    color: #b5b5b5;

    .tower-stats {
        width: 100%;
        margin-bottom: 20px;

        tr:nth-child(odd) {
            background: #292424;
        }

        td {
            padding: 5px;
        }
    }

    .ts-control {
        background: #292424;
        border-color: #292424;
        border-radius: 0;
        color: #fff;
    }

    .ts-wrapper.multi .ts-control > div {
        color: #fff;
        background: #423939;
    }

    .ts-dropdown {
        background: #423c3c;
        border-color: #292424;
        border-radius: 0;
        color: #fff;

        .active {
            background: #1d2337;
            color: #fff;
        }
    }
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 15px;
    font-weight: bold;
    cursor: pointer;
}

.modal.is--open {
    display: block;
}

.modal-title {
    font-family: Impact, Charcoal, sans-serif;
    margin-bottom: 10px;
    font-size: 20px;
}

.modal .tower-stats {
    width: 100%;
    margin-bottom: 20px;
}
.modal .tower-stats tr:nth-child(odd) {
    background: #292424;
}
.modal .tower-stats td {
    padding: 5px;
}