.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: auto;
    background: #FFF;
    display: none;
    -webkit-box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 20px -1px rgba(0, 0, 0, 0.7);
    padding: 15px;
    color: #333;
}

.modal-close {
    position: absolute;
    right: 15px;
    top: 15px;
    font-weight: bold;
    cursor: pointer;
}

.modal.is--open {
    display: block;
}

.modal-title {
    font-family: Impact, Charcoal, sans-serif;
    margin-bottom: 10px;
    font-size: 20px;
}

.modal .tower-stats {
    width: 100%;
    margin-bottom: 20px;
}
.modal .tower-stats tr:nth-child(odd) {
    background: #EEE;
}
.modal .tower-stats td {
    padding: 5px;
}